<!DOCTYPE html>
<html>
<head>
	<title>Library | CARRIE SOTO IS BACK: A NOVEL</title>
	<link href="css/style.css" rel="stylesheet">
</head>
<body>
	<main>
			<aside>
				<nav>
					<a href="index.html">Home</a>
					<a href="books.html">Books</a>
					<a href="contact.html">Contact Us</a>
					<a href="survey.html">Survey</a>
				</nav>
			</aside>
			<section class="main-container welcome-note">
					<article>
						<figure class="book-cover">
							<img src="/public/images/book3.jpg">
						</figure>
						<section class="book-details">
							<h2>CARRIE SOTO IS BACK: A NOVEL</h2>
							<br>
							<p>In this powerful novel about the cost of greatness, a legendary athlete attempts a comeback when the world considers her past her prime--from the New York Times bestselling author of Malibu Rising.
<br>
Carrie Soto is fierce, and her determination to win at any cost has not made her popular. But by the time she retires from tennis, she is the best player the world has ever seen. She has shattered every record and claimed twenty Grand Slam titles. And if you ask Carrie, she is entitled to every one. She sacrificed nearly everything to become the best, with her father, Javier, as her coach. A former champion himself, Javier has trained her since the age of two.</p>
 <ul>
 	<li><b>Author:</b> TAYLOR JENKINS REID</li>
 	<li><b>Publisher:</b> Doubleday Canada</li>
 </ul>
						</section>
					</article>
			</section>
	</main>
</body>
</html>