<!DOCTYPE html>
<html>
  <head>
    <title>Library | DREAMLAND: A NOVEL</title>
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <main>
      <aside>
        <nav>
          <a href="index.html">Home</a>
          <a href="books.html">Books</a>
          <a href="contact.html">Contact Us</a>
          <a href="survey.html">Survey</a>
        </nav>
      </aside>
      <section class="main-container welcome-note">
        <article>
          <figure class="book-cover">
            <img src="/public/images/book2.jpg" />
          </figure>
          <section class="book-details">
            <h2>DREAMLAND: A NOVEL</h2>
            <br />
            <p>
              From the #1 New York Times bestselling author of The Wish comes a
              poignant love story about risking everything for a dream--and
              whether it''s possible to leave the past behind.<br />
              Colby Mills once felt destined for a musical career, until tragedy
              grounded his aspirations. Now the head of a small family farm in
              North Carolina, he spontaneously takes a gig playing at a bar in
              St. Pete''s Beach, Florida, seeking a rare break from his duties
              at home.
            </p>
            <ul>
              <li><b>Author:</b> NICHOLAS SPARKS</li>
              <li><b>Publisher:</b> Doubleday Canada</li>
            </ul>
          </section>
        </article>
      </section>
    </main>
  </body>
</html>
