<!DOCTYPE html>
<html>
<head>
	<title>Library | Books</title>
	<link href="css/style.css" rel="stylesheet">
</head>
<body>
	<main>
			<aside>
				<nav>
					<a href="index.html">Home</a>
					<a class="active" href="books.html">Books</a>
					<a href="contact.html">Contact Us</a>
					<a href="survey.html">Survey</a>
				</nav>
			</aside>
			<section class="main-container books">
					<article class="book-item">
					 	<a href="book1-details.html">
					 		<img src="/public/images/book1.jpg" class="book-image">
					 		<span class="book-title">
					 			Nothing More To Tell
							</span>
						</a>
					</article>
					<article class="book-item">
					 	<a href="book2-details.html">
					 		<img src="/public/images/book2.jpg" class="book-image">
					 		<span class="book-title">
					 			DREAMLAND: A NOVEL
							</span>
						</a>
					</article>
					<article class="book-item">
					 	<a href="book3-details.html">
					 		<img src="/public/images/book3.jpg" class="book-image">
					 		<span class="book-title">
					 			CARRIE SOTO IS BACK: A NOVEL
							</span>
						</a>
					</article>
			</section>
	</main>
</body>
</html>