<!DOCTYPE html>
<html>
<head>
	<title>Library | Nothing More To Tell</title>
	<link href="css/style.css" rel="stylesheet">
</head>
<body>
	<main>
			<aside>
				<nav>
					<a href="index.html">Home</a>
					<a href="books.html">Books</a>
					<a href="contact.html">Contact Us</a>
					<a href="survey.html">Survey</a>
				</nav>
			</aside>
			<section class="main-container welcome-note">
					<article>
						<figure class="book-cover">
							<img src="/public/images/book1.jpg">
						</figure>
						<section class="book-details">
							<h2>Nothing More To Tell</h2>
							<br>
							<p>From #1 New York Times bestselling author of One of Us Is Lying comes a new page-turning mystery. Be sure to keep your friends close . . . and your secrets closer.<br>
Four years ago, Brynn left Saint Ambrose School following the shocking murder of her favorite teacher—a story that made headlines after the teacher’s body was found by three Saint Ambrose students in the woods behind their school. The case was never solved. Now that Brynn is moving home and starting her dream internship at a true-crime show, she’s determined to find out what really happened.
 </p>
 <ul>
 	<li><b>Author:</b> Karen M. McManus</li>
 	<li><b>Publisher:</b> Random House Children's Books</li>
 </ul>
						</section>
					</article>
			</section>
	</main>
</body>
</html>